* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Noto Sans", Roboto, Arial, sans-serif;*/
    font-family: sans-serif;
}

body {
    background: #F1F1F1;
}

header {
    position: relative;
}

#container-nav {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 50px;
    padding: 2px 35px;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
    z-index: 3;
}

#icon-link {
    display: inline-block;
}

#menu-left {
    position: relative;
    height: 100%;
    width: 75%;
    display: inline-block;
}

#menu-left span {
    vertical-align: middle;
    margin-bottom: 36px;
    display: inline-block;
}

#menu-left span a {
    color: #b8b8b8;
    font-size: 14px;
}

#search-form {
    display: inline-block;
    height: 64%;
    overflow: hidden;
    margin: 0 auto;
    vertical-align: middle;
    position: absolute;
    left: 200px;
    top: 8px;
}

#search-bar {
    border: 1px solid #ccc;
    height: 100%;
    width: 600px;
    font-size: 16px;
    padding: 2px 6px;
    box-shadow: inset 0 1px 2px #eee;
    transition: border-color .2s ease;
}

#search-btn {
    position: relative;
    bottom: 1px;
    right: 5px;
    height: 99%;
    border: 1px solid transparent;
    border-color: #d3d3d3;
    background: #f8f8f8;
    width: 65px;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

#search-btn:hover {
    border-color: #c6c6c6;
    background: #f0f0f0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

#search-btn:hover .search-link {
    color: #333;
}

#search-btn a {
    color: #969696;
}

#menu-right {
    margin-top: 7px;
    margin-left: 210px;
    height: 30px;
    width: 10%;
    display: inline-block;
    position: absolute;
    padding: 0 10px;
}

#menu-right span {
    position: absolute;
    vertical-align: middle;
}

#sign-in {
    margin-left: 50px;
    position: absolute;
    color: #fff;
    background: #167AC6;
    border-color: #167AC6;
    border: 1px solid transparent;
    font-size: 11px;
    padding: 0 10px;
    height: 28px;
    display: inline-block;
    font-weight: 500;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

#sign-in:hover {
    background: #126db3;
}

#body-container {
    height: 100%;
    width: 95%;
    margin: 60px auto 100px auto; /* because #container-nav is fixed, set the margin-top of the overlaid content equal to or greater than the height of the nav*/
}

#video-container {
    float: left;
    height: 100%;
    width: 70%;
    /*border: 1px solid red;*/
}

#video-container iframe {
    width: 100%;
}

#video-title, #video-description {
    background: #fff;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    padding: 15px 15px 5px 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#video-title div h1 {
    font-size: 20px;
    vertical-align: top;
    line-height: normal;
    word-wrap: break-word;
    font-weight: normal;
}

#title-div {
    width: 75%;
}

#video-owner {
    position: relative;
    margin-top: 9px;
    padding: 3px 0;
    border-bottom: 1px solid #e2e2e2;
}

#video-owner img {
    display: inline-block;
}

#name-subscribe {
    width: 40%;
    display: inline-block;
    position: relative;
    line-height: 24px;
    top: -10px;
    margin-left: 10px;

}

#name-subscribe a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    vertical-align: top;
}

#name-subscribe a:hover {
    text-decoration: underline;
    color:#333;
}

#name-subscribe button {
    display: inline-block;
    padding: 0 8px 0 5.5px;
    color: #fff;
    background: #e62117;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    height: 24px;
    cursor: pointer;
}

#name-subscribe button:hover {
    background-color: #cc181e;
}

#name-subscribe button i {
    font-size: 18px;
    font-weight: 500;
}

#name-subscribe span {
    display: inline-block;
    border: 1px solid #ccc;
    border-left: none;
    height: 24px;
    width: 40px;
    margin-left: -4px;
    background-color: #fafafa;
    vertical-align: middle;
    text-align: center;
    border-radius: 0 2px 2px 0;
    font-size: 11px;
    color: #737373;
    padding: 0 6px;
    line-height: 24px;
}

#views {
    position: absolute;
    left: 690px;
    top: 32px;
    width: 170px;
    display: inline-block;
    line-height: 24px;
    text-align: right;
    font-size: 19px;
    color: #666;
    white-space: nowrap;
    border-bottom: 2px solid #167ac6;
    padding-bottom: 5px;
}

#action-icons {
    margin-top: 3px;
}

#left-icons {
    float: left;
}

.button-icons {
    display: inline-block;
    background: none;
    border: none;
    height: 28px;
    padding: 0 10px;
}

.button-icons img {
    display: inline-block;
}

.button-icons span {
    display: inline-block;
    color: #939393;
    font-size: 11px;
    line-height: 28px;
    vertical-align: middle;
}

.plus span, .more span, .like span, .unlike span {
    margin-top: -15px;
}

.share span {
    margin-top: -17px;
}

.plus img {
    position: relative;
    top: 3px;
}

.like img {
    position: relative;
    top: 3px;
}

.unlike img {
    position: relative;
    top: 2px;
}

#right-icons {
    float: right;
}

#description-text {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 15px;
    color: #333;
    font-size: 13px;
    font-weight: 500;
}

#description-text span {
    margin-top: 5px;
    display: inline-block;
}

#show-more {
    background: #fff;
    width: 100%;
    color: #767676;
    box-shadow: none;
    height: 28px;
    border: solid 1px transparent;
    padding: 0 10px;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
}

#show-more:hover {
    color: #222;
}

#comments-div {
    background: #fff;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);    
}

#reply-box {
    border-bottom: 1px solid #e2e2e2;
}

#reply-box h2 {
    display: inline;
    font-size: 12px;
    color: #555;
}

#reply-box span {
    font-weight: 500;
}

#reply-area {
    display: inline-block;
    position: relative;
    top: -24px;
    border: 1px solid #d5d5d5;
    color: #b8b8b8;
    cursor: pointer;
    margin-left: 11px;
    min-height: 50px;
    width: 90%;
    border-radius: 2px;
    padding: 10px;
    font-size: 80%;
    /*background: transparent;*/
    text-align: left;
}

#topcomments-btn {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
}

#topcomments-btn button {
    width: 100%;
    background: #f8f8f8;
    color: #333;
    display: inline-block;
    height: 28px;
    border: 1px solid #d3d3d3;
    padding: 0 10px;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);   
}

#topcomments-btn button:hover {
    background: #f0f0f0;
}

#topcomments-btn button span:first-of-type {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    color: #333;
    font-weight: 500;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    cursor: pointer;
}

#topcomments-btn button span:last-of-type {
   font-size: 12px;
}

#comments {
    position: relative;
}

.comment-author {
    position: relative;
    margin: -52px 0 23px 60px;
    font-size: 13px;
    line-height: 18px;   
}

.indent-reply {
    position: relative;
    margin: -37px 0 0 45px;
    font-size: 13px;
    line-height: 18px;      
}

.comment-author span, .indent-reply span {
    display: inline-block;
    position: relative;
}

.comment-author a, .indent-reply a {
    color: #128ee9;
    font-weight: 500;
    text-decoration: none;
    word-break: break-all;
}

.comment-author a:hover, .indent-reply a:hover {
    text-decoration: underline;
}

.author-name, .post-time {
    margin-bottom: 3px;
}

.author-name a {
    font-weight: 700;
}

.post-time a {
    font-size: 12px;
    color: #767676;
}

.reply-bullet {
    position: relative;
    display: inline-block;
    top: -10px;
    color: #767676;
    font-size: 12px;
}

.reply-count {
    display: inline-block;
    position: relative;
    top: -10px;
}

.view-reply {
    margin-bottom: 10px;
}

.view-reply a {
    font-size: 12px;
    font-weight: 600;
}

.view-reply span {
    color: #767676;
    cursor: pointer;
}

.badge {
    background-color: #008bec;
    border: 0;
    border-radius: 9px;
    padding: 1px 6px;
    vertical-align: middle;
}

.badge a {
    color: #fff;
}

.reply-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    left: -4px;
}

#show-more-lg  {
    margin: 15px 25px;
    border: 1px solid #d3d3d3;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background-color: #f8f8f8;
    color: #333;
    font-size: 12px;
    outline: 0;
    height: 40px;
    width: 95%;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

#show-more-lg:hover {
    background-color: #f0f0f0;
    border-color: #c6c6c6;
    text-decoration: none;
}


/* sidebar */
#side-video {
    float: right;
    height: 100%;
    width: 29.5%;
    background: #fff;
    padding: 15px 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#up-next {
    display: inline-block;
    margin: 0 5px 10px;
    font-size: 13px;
    color: #222;
    line-height: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    font-weight: 500;
    float: left;
    padding: 0;
    margin-left: 0;
    margin-bottom: 8px;
    width: 30%;
}

#autoplay {
    display: inline-block;
    float: right;
    width: 34%;

}

#autoplay-label {
    display: inline-block;
    position: absolute;
}

#autoplay-label p {
    font-weight: 600;
    color: #767676;
    font-size: 12px;
}

#info-img {
    display: inline-block;
    position: absolute;
    margin-top: -3px;
    margin-left: 55px;
}

#toggle-img {
    display: inline-block;
    position: absolute;
    margin-top: -5px;
    margin-left: 76px;
    background: transparent;
}

.video-section {
    position: relative;
    top: 2px;
    height: 110px;
    width: 100%;
    padding: 0 0 10px 0;
}

#up-next-video-div {
    top: 0;
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 15px;
}

.video-thumb{
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 94px;
    width: 168px;
}

.video-thumb img {
    display: inline-block;
    position: relative;
}

.duration {
    margin-top: 0;
    margin-right: 0;
    padding: 0 4px;
    font-weight: 500;
    font-size: 11px;
    background-color: #000;
    color: #fff!important;
    height: 14px;
    line-height: 14px;
    opacity: .75;
    position: absolute;
    top: 77px;
    left: 130px;
    z-index: 1;
    cursor: pointer;
    text-align: right;
}

.single {
    left: 136px;
}

.video-thumb-info {
    position: relative;
    top: -97px;
    margin-left: 178px;
    margin-top: 0;
    display: inline-block;
    width: 50%;
    cursor: pointer;
    line-height: 14px;
}

.video-thumb-info a {
    text-decoration: none;
}

.vid-thumb-title {
    color: #333;
    font-size: .8em;
    font-weight: 600;
    background: transparent;
}

.vid-thumb-owner {
    color: #767676;
    font-size: 11px;
}

.vid-thumb-views {
    color: #767676;
    font-size: 11px;   
}

.new-badge {
    display: inline-block;
    border: 1px solid #ddd;
    font-size: 11px;
    color: #444;
    padding: 0 4px;
}

#show-more-sm {
    margin: 10px 0 -15px;
    display: block;
    width: 100%;
    color: #767676;
    border-top: 1px solid #e2e2e2;
    box-shadow: none;
    height: 28px;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    border-bottom: solid 1px transparent;
    padding: 0 10px;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    background: transparent;
}

#show-more-sm:hover {
    color: #222;
}

/* footer section */
#footer-div {
    padding: 10px 30px 35px 30px;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#top-half {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 5px;
}

#language-btn, #location-btn, #restrict-btn, #history-btn, #help-btn {
    margin-top: -34px;
    margin-left: 12px;
    border-radius: 2px;
    /*border-color: #d3d3d3;*/
    background: #f8f8f8;
    color: #333;
    display: inline-block;
    height: 28px;
    border: solid 1px #d3d3d3;
    padding: 0 15px;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 28px;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

#history-btn, #help-btn {
    padding-right: 5px;
}

#language-btn:hover, #location-btn:hover, #restrict-btn:hover, #history-btn:hover, #help-btn:hover {
    background: #f0f0f0;
}

.btn-img {
    position: relative;
    display: inline-block;
    margin-top: 2px;
    left: -5px;
}

.history-btn-img {
    margin-top: 0;
}

.help-btn-img {
    margin-top: 2px;   
}

.btn-txt {
    display: inline-block;
    margin-top: -2px;
    position: relative;
    top: -9px;
    left: 0px;
}

.history-btn-txt {
    left: -5px;
    top: -7px;   
}

.btn-caret {
    display: inline-block;
    position: relative;
    left: 5px;
    top: -9px;
    font-size: 13px;
}

.no-img {
    position: relative;
    top: 8px;
}

#top-links {
    list-style: none;
    padding-left: 8px;
    margin-top: 14px;
}

#top-links li, #bottom-links li {
    display: inline;
    margin-right: 15px;
}

#top-links li a {
    text-decoration: none;
    color: #333;
    font-size: .75em;
    font-weight: 600;
}

#top-links li a:hover, #bottom-links li a:hover {
    text-decoration: underline;
    color: #167ac6;
}

#bottom-links {
    margin-top: 6px;
    padding-left: 8px;
    list-style: none;
}

#bottom-links li a {
    text-decoration: none;
    color: #666;
    font-size: 11px;
    font-weight: 600;
}

.clear {
    clear: both;
}